In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../input/data/Casen2022.csv', low_memory=False)
data

,Unnamed: 0,id_vivienda,folio,id_persona,region,area,cod_upm,nse,estrato,hogar,...,men18c,may60c,tipohogar,tot_hog,ind_hacina,indsan,ten_viv,ten_viv_f,allega_ext,allega_int
0,1,1000901,100090101,1,16,2,10009,4,1630324,1,...,0,1,3,1,1,1,1,1,0,0
1,2,1000901,100090101,2,16,2,10009,4,1630324,1,...,0,1,3,1,1,1,1,1,0,0
2,3,1000901,100090101,3,16,2,10009,4,1630324,1,...,0,1,3,1,1,1,1,1,0,0
3,4,1000902,100090201,1,16,2,10009,4,1630324,1,...,1,1,5,1,1,2,1,1,0,1
4,5,1000902,100090201,2,16,2,10009,4,1630324,1,...,1,1,5,1,1,2,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202226,202227,4585804,458580401,2,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0
202227,202228,4585804,458580401,3,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0
202228,202229,4585807,458580701,1,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0
202229,202230,4585807,458580701,2,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0
202230,202231,4585807,458580701,3,9,1,45858,3,910113,1,...,1,0,3,1,1,1,1,1,0,0

In [3]:
datos_proc = data.copy()

In [4]:
# ExploraciÃ³n de variables I
print(data.shape, "\n\n")
print(data.columns, "\n\n")
print(data.dtypes, "\n\n")
print(data['sexo'].value_counts(), "\n\n")
print(data['region'].value_counts(), "\n\n")
print(data['edad'].value_counts(), "\n\n")
print(data['edad'].describe(), "\n\n")

(202231, 919)


Index(['Unnamed: 0', 'id_vivienda', 'folio', 'id_persona', 'region', 'area',
       'cod_upm', 'nse', 'estrato', 'hogar',
       ...
       'men18c', 'may60c', 'tipohogar', 'tot_hog', 'ind_hacina', 'indsan',
       'ten_viv', 'ten_viv_f', 'allega_ext', 'allega_int'],
      dtype='object', length=919)


Unnamed: 0     int64
id_vivienda    int64
folio          int64
id_persona     int64
region         int64
               ...
indsan         int64
ten_viv        int64
ten_viv_f      int64
allega_ext     int64
allega_int     int64
Length: 919, dtype: object


sexo
2    106575
1     95656
Name: count, dtype: int64


region
13    38674
5     20552
8     19914
6     13864
7     13739
9     13577
10    10707
14    10603
2      9029
3      9011
16     8706
1      8691
4      8236
15     8152
12     5029
11     3747
Name: count, dtype: int64


edad
30     3184
22     3101
60     3056
32     3030
50     2993
       ...
103       5
107       2
105       2
104       2
120       1
Name: count, Length: 108, dtype: int64


count    202231.000000
mean         39.322923
std          23.030135
min           0.000000
25%          20.000000
50%          38.000000
75%          58.000000
max         120.000000
Name: edad, dtype: float64

In [5]:
# Diccionario de RecodificaciÃ³n
reemplazos = {
    'o4': {2: 0},
    'o5': {3: 0},
    'o6': {2: 0},
    'o10': {-88: np.nan},
    'o12': {-88: np.nan, -99: np.nan},
    'o15': {-88: np.nan, -99: np.nan},
    'o18': {-88: np.nan, -99: np.nan},
    'o20': {-88: np.nan, -99: np.nan},
    'o21': {-88: np.nan, -99: np.nan},
    'y1': {-88: np.nan},
}

In [6]:
for col, repl in reemplazos.items():
    datos_proc[col] = datos_proc[col].replace(repl)

In [7]:
# Procesamiento
datos_proc = (
    datos_proc
    .assign(
        sexo_str=lambda x: x['sexo'].map({1: "Hombre", 2: "Mujer"}),

        sexo=lambda x: x['sexo'].map({1: 0, 2: 1}),
        
        edad_tr=lambda x: np.select([x['edad'].between(18, 39), 
                                         x['edad'].between(40, 64), x['edad'] >= 65],
                                        ["Jovenes", "Adultos", "Adultos mayores"],
                                        default=np.nan),
        
        sexo_edad=lambda x: np.select([(x['sexo_str'] == "Mujer") & (x['edad_tr'] == "Jovenes"),
                                       (x['sexo_str'] == "Mujer") & (x['edad_tr'] == "Adultos"),
                                       (x['sexo_str'] == "Mujer") & (x['edad_tr'] == "Adultos mayores"),
                                       (x['sexo_str'] == "Hombre") & (x['edad_tr'] == "Jovenes"),
                                       (x['sexo_str'] == "Hombre") & (x['edad_tr'] == "Adultos"),
                                       (x['sexo_str'] == "Hombre") & (x['edad_tr'] == "Adultos mayores")],
                                      ["Mujer joven", "Mujer adulta", "Mujer mayor", "Hombre joven", "Hombre adulto", "Hombre mayor"],
                                       default=np.nan),
        
        e6a_no_asiste=lambda x: np.select([x['e6a_no_asiste'].between(6, 7),
                                          x['e6a_no_asiste'].between(8, 11),
                                          x['e6a_no_asiste'] == 12,
                                          x['e6a_no_asiste'] == 13,
                                          x['e6a_no_asiste'].between(14, 15)],
                                         ["Basica", "Media", "Tecnico", "Universitaria", "Postgrado"],
                                          default="Otro"),

        region_str=lambda x: x['region'].map({1: "RegiÃ³n de TarapacÃ¡",
                                         2: "RegiÃ³n de Antofagasta",
                                         3: "RegiÃ³n de Atacama",
                                         4: "RegiÃ³n de Coquimbo",
                                         5: "RegiÃ³n de ValparaÃ­so",
                                         6: "RegiÃ³n de O'Higgins",
                                         7: "RegiÃ³n del Maule",
                                         8: "RegiÃ³n del BiobÃ­o",
                                         9: "RegiÃ³n de La AraucanÃ­a",
                                         10: "RegiÃ³n de Los Lagos",
                                         11: "RegiÃ³n de AysÃ©n",
                                         12: "RegiÃ³n de Magallanes y AntÃ¡rtica",
                                         13: "RegiÃ³n Metropolitana",
                                         14: "RegiÃ³n de Los RÃ­os",
                                         15: "RegiÃ³n de Arica y Parinacota",
                                         16: "RegiÃ³n de Ã‘uble"}),
        
        educa_str=lambda x: np.select([x['e6a_no_asiste'] == "Otro",
                                  x['e6a_no_asiste'] == "Basica",
                                  x['e6a_no_asiste'] == "Media",
                                  (x['e6a_no_asiste'] == "Tecnico") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Tecnico") & (x['e6c_completo'] == 2),
                                  (x['e6a_no_asiste'] == "Universitaria") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Universitaria") & (x['e6c_completo'] == 2),
                                  (x['e6a_no_asiste'] == "Postgrado") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Postgrado") & (x['e6c_completo'] == 2)],
                                 [np.nan, "EducaciÃ³n Basica", "EducaciÃ³n Media", 
                                  "TÃ©cnica completa", "TÃ©cnica incompleta", "Universitaria completa", 
                                  "Universitaria incompleta", "Postgrado", "Universitaria completa"]),
        
        educa=lambda x: np.select([x['e6a_no_asiste'] == "Otro",
                                  x['e6a_no_asiste'] == "Basica",
                                  x['e6a_no_asiste'] == "Media",
                                  (x['e6a_no_asiste'] == "Tecnico") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Tecnico") & (x['e6c_completo'] == 2),
                                  (x['e6a_no_asiste'] == "Universitaria") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Universitaria") & (x['e6c_completo'] == 2),
                                  (x['e6a_no_asiste'] == "Postgrado") & (x['e6c_completo'] == 1),
                                  (x['e6a_no_asiste'] == "Postgrado") & (x['e6c_completo'] == 2)],
                                 [np.nan, 1, 2, 4, 3, 6, 5, 7, 6]),
        
        temporada_trabajo_str=lambda x:x['o12'].map({
            1: 'Permanente',
            2: 'De temporada o estacional',
            3: 'Ocasional o eventual',
            4: 'A prueba',
            5: 'Por plazo o tiempo determinado'
        }),
        
        rol_laboral_str=lambda x:x['o15'].map({
            1: 'PatrÃ³n(a) o empleador(a)',
            2: 'Trabajador(a) por cuenta propia',
            3: 'Empleado(a) u obrero(a) del sector pÃºblico (Gobierno Central o Municipal)',
            4: 'Empleado(a) u obrero(a) de empresas pÃºblicas',
            5: 'Empleado(a) u obrero(a) del sector privado',
            6: 'Servicio domÃ©stico puertas adentro',
            7: 'Servicio domÃ©stico puertas afuera',
            8: 'FF.AA. y del Orden',
            9: 'Familiar no remunerado',
        }),
        
        tipoContrato_str=lambda x:x['o18'].map({
            1: 'Plazo indefinido',
            2: 'Plazo fijo',
            3: 'Por obra o faena'
        }),
        
        jornadaLaboral_str=lambda x:x['o20'].map({
            1: 'Jornada completa',
            2: 'Jornada parcial',
            3: 'Jornada prolongada', # jornada extendida respecto al horario de acuerdo laboral
            4: 'Otra'
        }),
        
        tipoHorario_str=lambda x:x['o21'].map({
            1: 'Solo diurno',
            2: 'Solo nocturno',
            3: 'Rotativo o turnos'
        }))
    
    .rename(columns={'y1': 'ingreso'})
    .query('edad>=18'))

In [8]:
datos_proc = datos_proc[['sexo',
                         'sexo_str', 
                         'edad', 
                         'edad_tr', 
                         'sexo_edad', 
                         'region', 
                         'region_str', 
                         'educa', 
                         'educa_str', 
                         'ingreso',
                         'o1',
                         'o2',
                         'o3',
                         'o4',
                         'o5',
                         'o6',
                         'o7',
                         'o10',
                         'o12',
                         'temporada_trabajo_str',
                         'o15',
                         'rol_laboral_str',
                         'o18',
                         'tipoContrato_str',
                         'o20',
                         'jornadaLaboral_str',
                         'o21',
                         'tipoHorario_str',
                         ]]

datos_proc.rename(columns={
    'o4': 'TrabajaAlgunaVez',
    'o5': 'DisponibleTrabajar',
    'o6': 'Busca4semanas',
    'o7': 'RazonNoEmpleo',
    'o10': 'hrs_sem',
    'o12': 'temporada_trabajo',
    'o15': 'rol_laboral',
    'o18': 'tipoContrato',
    'o20': 'jornadaLaboral',
    'o21': 'tipoHorario',
}, inplace=True)

In [9]:
# RevisiÃ³n de variables I
print(datos_proc.shape, "\n\n")
print(datos_proc.columns, "\n\n")
print(datos_proc.dtypes, "\n\n")
print(datos_proc['ingreso'].value_counts(), "\n\n")
print(datos_proc['ingreso'].describe(), "\n\n")
print(datos_proc['sexo_str'].value_counts(), "\n\n")
print(datos_proc['edad_tr'].value_counts(), "\n\n")
print(datos_proc['sexo_edad'].value_counts(), "\n\n")
print(datos_proc['educa_str'].value_counts(), "\n\n")
print(datos_proc['region_str'].value_counts(), "\n\n")

(158509, 28)


Index(['sexo', 'sexo_str', 'edad', 'edad_tr', 'sexo_edad', 'region',
       'region_str', 'educa', 'educa_str', 'ingreso', 'o1', 'o2', 'o3',
       'TrabajaAlgunaVez', 'DisponibleTrabajar', 'Busca4semanas',
       'RazonNoEmpleo', 'hrs_sem', 'temporada_trabajo',
       'temporada_trabajo_str', 'rol_laboral', 'rol_laboral_str',
       'tipoContrato', 'tipoContrato_str', 'jornadaLaboral',
       'jornadaLaboral_str', 'tipoHorario', 'tipoHorario_str'],
      dtype='object')


sexo                       int64
sexo_str                  object
edad                       int64
edad_tr                   object
sexo_edad                 object
region                     int64
region_str                object
educa                    float64
educa_str                 object
ingreso                  float64
o1                       float64
o2                       float64
o3                       float64
TrabajaAlgunaVez         float64
DisponibleTrabajar       float64
Busca4semanas            float64
RazonNoEmpleo            float64
hrs_sem                  float64
temporada_trabajo        float64
temporada_trabajo_str     object
rol_laboral              float64
rol_laboral_str           object
tipoContrato             float64
tipoContrato_str          object
jornadaLaboral           float64
jornadaLaboral_str        object
tipoHorario              float64
tipoHorario_str           object
dtype: object


ingreso
400000.0     9600
500000.0     4849
600000.0     3541
450000.0     3130
800000.0     2344
             ...
124000.0        1
217448.0        1
1238000.0       1
926000.0        1
1695000.0       1
Name: count, Length: 1185, dtype: int64


count    5.964400e+04
mean     6.615691e+05
std      6.457663e+05
min      0.000000e+00
25%      4.000000e+05
50%      4.900000e+05
75%      7.500000e+05
max      2.500000e+07
Name: ingreso, dtype: float64


sexo_str
Mujer     85132
Hombre    73377
Name: count, dtype: int64


edad_tr
Adultos            63841
Jovenes            61098
Adultos mayores    33570
Name: count, dtype: int64


sexo_edad
Mujer adulta     34997
Mujer joven      31368
Hombre joven     29730
Hombre adulto    28844
Mujer mayor      18767
Hombre mayor     14803
Name: count, dtype: int64


educa_str
EducaciÃ³n Media             65194
EducaciÃ³n Basica            36748
nan                         19198
Universitaria completa      18540
TÃ©cnica completa            11171
Universitaria incompleta     3701
TÃ©cnica incompleta           2268
Postgrado                    1689
Name: count, dtype: int64


region_str
RegiÃ³n Metropolitana                30443
RegiÃ³n de ValparaÃ­so                16358
RegiÃ³n del BiobÃ­o                   15804
RegiÃ³n de O'Higgins                 11008
RegiÃ³n del Maule                    10916
RegiÃ³n de La AraucanÃ­a              10691
RegiÃ³n de Los Lagos                  8510
RegiÃ³n de Los RÃ­os                   8274
RegiÃ³n de Ã‘uble                      7038
RegiÃ³n de Antofagasta                6851
RegiÃ³n de Atacama                    6797
RegiÃ³n de Coquimbo                   6441
RegiÃ³n de TarapacÃ¡                   6365
RegiÃ³n de Arica y Parinacota         6198
RegiÃ³n de Magallanes y AntÃ¡rtica     3989
RegiÃ³n de AysÃ©n                      2826
Name: count, dtype: int64

In [10]:
# RevisiÃ³n de variables II
print(datos_proc['hrs_sem'].describe(), '\n\n')
print(datos_proc['temporada_trabajo_str'].value_counts().sort_index(), '\n\n')
print(datos_proc['rol_laboral_str'].value_counts().sort_index(), '\n\n')
print(datos_proc['tipoContrato_str'].value_counts().sort_index(), '\n\n')
print(datos_proc['jornadaLaboral_str'].value_counts().sort_index(), '\n\n')
print(datos_proc['tipoHorario_str'].value_counts().sort_index(), '\n\n')

count    84340.000000
mean        40.877863
std         13.303460
min          0.000000
25%         40.000000
50%         45.000000
75%         45.000000
max        168.000000
Name: hrs_sem, dtype: float64


temporada_trabajo_str
A prueba                            510
De temporada o estacional          8342
Ocasional o eventual               8463
Permanente                        64049
Por plazo o tiempo determinado     3948
Name: count, dtype: int64


rol_laboral_str
Empleado(a) u obrero(a) de empresas pÃºblicas                                  3365
Empleado(a) u obrero(a) del sector privado                                   46620
Empleado(a) u obrero(a) del sector pÃºblico (Gobierno Central o Municipal)     8496
FF.AA. y del Orden                                                             619
Familiar no remunerado                                                         362
PatrÃ³n(a) o empleador(a)                                                      3231
Servicio domÃ©stico puertas adentro                                             166
Servicio domÃ©stico puertas afuera                                             2018
Trabajador(a) por cuenta propia                                              20693
Name: count, dtype: int64


tipoContrato_str
Plazo fijo          11103
Plazo indefinido    41133
Por obra o faena     6699
Name: count, dtype: int64


jornadaLaboral_str
Jornada completa      51539
Jornada parcial        6413
Jornada prolongada     1944
Otra                   1077
Name: count, dtype: int64


tipoHorario_str
Rotativo o turnos    11261
Solo diurno          48679
Solo nocturno         1186
Name: count, dtype: int64

In [11]:
# Guardar datos
datos_proc.to_csv("../../output/data/Casen2022_proc.csv", index=False)