In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../input/data/ENE2022.csv', low_memory=False, sep=';')
data

,ano_trimestre,mes_central,ano_encuesta,mes_encuesta,region,provincia,r_p_c,estrato,tipo,conglomerado,...,tpi,id,ftp,cae_general,cae_especifico,categoria_ocupacion,r_p_rev4cl_caenes,ocup_form,sector,fact_anual
0,2022,2,2022,1,8,82,8205,8200111,1,28302,...,0.0,NaN,NaN,1,1,2,7.0,1.0,1.0,"87,5912781336487"
1,2022,2,2022,1,16,163,16302,16300120,3,41634,...,NaN,0.0,0.0,9,13,0,NaN,NaN,NaN,"17,8513047485843"
2,2022,2,2022,1,6,61,6101,6100112,1,31626,...,0.0,NaN,NaN,1,1,5,20.0,1.0,3.0,"70,6618596745019"
3,2022,2,2022,1,13,131,13112,13100411,1,11697,...,NaN,0.0,0.0,9,15,0,NaN,NaN,NaN,"109,538372993516"
4,2022,2,2022,1,6,63,6305,6300121,3,31063,...,NaN,0.0,0.0,9,13,0,NaN,NaN,NaN,"26,1866491023927"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369176,2022,11,2022,12,2,22,2201,2200110,1,40050,...,NaN,0.0,0.0,9,13,0,NaN,NaN,NaN,"40,2111450715535"
369177,2022,11,2022,12,2,21,2101,2100011,1,15328,...,0.0,NaN,NaN,1,1,3,7.0,2.0,1.0,"70,150494683495"
369178,2022,11,2022,12,12,121,12101,12000112,1,33217,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,"17,3834443005335"
369179,2022,11,2022,12,14,141,14101,14100120,3,41484,...,0.0,NaN,NaN,1,1,2,13.0,1.0,1.0,"35,9929129965523"
369180,2022,11,2022,12,13,135,13501,13500122,3,13334,...,1.0,NaN,NaN,1,1,3,8.0,2.0,2.0,"71,7304072166812"

In [3]:
# Copiamos df original en variable para procesar
datos_proc = data.copy()

In [4]:
# Exploración de variables I
print(data.shape, "\n\n")
print(data.columns, "\n\n")
print(data.dtypes, "\n\n")
print(data['sexo'].value_counts(), "\n\n")
print(data['region'].value_counts(), "\n\n")
print(data['edad'].value_counts(), "\n\n")
print(data['edad'].describe(), "\n\n")

(369181, 173)


Index(['ano_trimestre', 'mes_central', 'ano_encuesta', 'mes_encuesta',
       'region', 'provincia', 'r_p_c', 'estrato', 'tipo', 'conglomerado',
       ...
       'tpi', 'id', 'ftp', 'cae_general', 'cae_especifico',
       'categoria_ocupacion', 'r_p_rev4cl_caenes', 'ocup_form', 'sector',
       'fact_anual'],
      dtype='object', length=173)


ano_trimestre            int64
mes_central              int64
ano_encuesta             int64
mes_encuesta             int64
region                   int64
                        ...
categoria_ocupacion      int64
r_p_rev4cl_caenes      float64
ocup_form              float64
sector                 float64
fact_anual              object
Length: 173, dtype: object


sexo
2    195438
1    173743
Name: count, dtype: int64


region
13    65025
8     42302
5     41958
7     28592
10    26586
4     23115
6     21960
9     18778
16    16486
14    16394
2     15282
3     13530
15    13091
12     8844
11     8695
1      8543
Name: count, dtype: int64


edad
11     5413
15     5360
22     5314
13     5297
12     5254
       ...
100      28
101      25
102      13
104       2
106       1
Name: count, Length: 105, dtype: int64


count    369181.000000
mean         39.732370
std          23.279172
min           0.000000
25%          20.000000
50%          39.000000
75%          59.000000
max         106.000000
Name: edad, dtype: float64

In [5]:
# Exploración de variables II
print(data['b1'].value_counts().sort_index(), '\n\n')
print(data['b13_rev4cl_caenes'].value_counts().sort_index(), '\n\n')
print(data['b14_rev4cl_caenes'].value_counts().sort_index(), '\n\n')
print(data['r_p_rev4cl_caenes'].value_counts().sort_index(), '\n\n')

b1
1.0       4618
2.0      17975
3.0      16527
4.0       6920
5.0      31311
6.0       6178
7.0      19923
8.0      12055
9.0      32602
10.0       578
999.0      173
Name: count, dtype: int64


b13_rev4cl_caenes
1.0      1039
2.0       387
3.0       895
4.0        28
5.0       198
6.0      2715
7.0       428
8.0      1005
9.0      1083
10.0      140
11.0       22
12.0       25
13.0      345
14.0     4620
15.0     5498
16.0      114
17.0      278
18.0       18
19.0      136
20.0       72
21.0        1
999.0      16
Name: count, dtype: int64


b14_rev4cl_caenes
1.0      15697
2.0       5697
3.0      14399
4.0        756
5.0       1122
6.0      12765
7.0      27124
8.0       8549
9.0       6472
10.0      1946
11.0      1860
12.0      1313
13.0      3924
14.0      3952
15.0      9410
16.0     12828
17.0      9282
18.0      1318
19.0      4378
20.0      5671
21.0        17
999.0      380
Name: count, dtype: int64


r_p_rev4cl_caenes
1.0      15597
2.0       2988
3.0      13906
4.0        424
5.0       1133
6.0      14453
7.0      26173
8.0       8902
9.0       7453
10.0      1804
11.0      1701
12.0      1146
13.0      4185
14.0      8303
15.0     13459
16.0      8771
17.0      6939
18.0      1177
19.0      4332
20.0      5642
21.0        17
999.0      355
Name: count, dtype: int64

In [6]:
# Diccionarios de Recodificación
ciiu4 = {
    1: 'A Agricultura, ganadería, silvicultura y pesca',
    2: 'B Explotación de minas y canteras',
    3: 'C Industrias manufactureras',
    4: 'D Suministro de electricidad, gas, vapor y aire acondicionado',
    5: 'E Suministro de agua; evacuación de aguas residuales, gestión de desechos y descontaminación',
    6: 'F Construcción',
    7: 'G Comercio al por mayor y al por menor; reparación de vehiculos automotores y motocicletas',
    8: 'H Transporte y almacenamiento',
    9: 'I Actividades de alojamiento y de servicio de comidas',
    10: 'J Información y comunicaciones',
    11: 'K Actividades financieras y de seguros',
    12: 'L Actividades inmobiliarias',
    13: 'M Actividades profesionales, científicas y tecnicas',
    14: 'N Actividades de servicios administrativos y de apoyo',
    15: 'O Administración pública y defensa; planes de seguridad social de afiliación obligatoria',
    16: 'P Enseñanza',
    17: 'Q Actividades de atención de la salud humana y de asistencia social',
    18: 'R Actividades artísticas, de entretenimiento y recreativas',
    19: 'S Otras actividades de servicios',
    20: 'T Actividades de los hogares como empleadores; actividades no diferenciadas de los hogares como productores de bienes y servicios para uso propio',
    21: 'U Actividades de organizaciones y órganos extraterritoriales',
}

reemplazos = {
    'b1' : {999: np.nan},
    'b13_rev4cl_caenes': {999: np.nan},
    'b14_rev4cl_caenes': {999: np.nan},
    'r_p_rev4cl_caenes': {999: np.nan},
    'activ': {2: 0,
              3: 0}
}

In [7]:
for col, repl in reemplazos.items():
    datos_proc[col] = datos_proc[col].replace(repl)

In [8]:
# Procesamiento
datos_proc = (
    datos_proc
    .assign(
        sexo_str=lambda x: x['sexo'].map({1: "Hombre", 2: "Mujer"}),

        sexo=lambda x: x['sexo'].map({1: 0, 2: 1}),

        edad_tr=lambda x: np.select(
            [x['edad'].between(18, 39), 
             x['edad'].between(40, 64), 
             x['edad'] >= 65],
            ["Jovenes", "Adultos", "Adultos mayores"],
            default="Desconocido" 
        ),

        sexo_edad=lambda x: np.select(
            [(x['sexo_str'] == "Mujer") & (x['edad_tr'] == "Jovenes"),
             (x['sexo_str'] == "Mujer") & (x['edad_tr'] == "Adultos"),
             (x['sexo_str'] == "Mujer") & (x['edad_tr'] == "Adultos mayores"),
             (x['sexo_str'] == "Hombre") & (x['edad_tr'] == "Jovenes"),
             (x['sexo_str'] == "Hombre") & (x['edad_tr'] == "Adultos"),
             (x['sexo_str'] == "Hombre") & (x['edad_tr'] == "Adultos mayores")],
            ["Mujer joven", "Mujer adulta", "Mujer mayor", "Hombre joven", "Hombre adulto", "Hombre mayor"],
            default="Desconocido"
        ),
        
        region_str=lambda x: x['region'].map({
            1: "Región de Tarapacá",
            2: "Región de Antofagasta",
            3: "Región de Atacama",
            4: "Región de Coquimbo",
            5: "Región de Valparaíso",
            6: "Región de O'Higgins",
            7: "Región del Maule",
            8: "Región del Biobío",
            9: "Región de La Araucanía",
            10: "Región de Los Lagos",
            11: "Región de Aysén",
            12: "Región de Magallanes y Antártica",
            13: "Región Metropolitana",
            14: "Región de Los Ríos",
            15: "Región de Arica y Parinacota",
            16: "Región de Ñuble"
        }),
        
       educa_str=lambda x: np.select(
            [x['nivel'].notna() & x['nivel'].isin([0, 1, 2, 88, 99, 902]),
            x['nivel'].notna() & (x['nivel'] == 3),
            x['nivel'].notna() & x['nivel'].isin([4, 6]),
            x['nivel'].notna() & x['nivel'].isin([5, 7, 8]) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & x['nivel'].isin([5, 7, 8]) & (x['termino_nivel'] == 2),
            x['nivel'].notna() & (x['nivel'] == 9) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & (x['nivel'] == 9) & (x['termino_nivel'] == 2),
            x['nivel'].notna() & x['nivel'].isin([10, 11, 12]) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & x['nivel'].isin([10, 11, 12]) & (x['termino_nivel'] == 2)],
            [np.nan, "Educación Básica", "Educación Media",
            "Técnica completa", "Técnica incompleta", "Universitaria completa", 
            "Universitaria incompleta", "Postgrado", "Universitaria completa"],
            default=np.nan
        ),
        
       educa=lambda x: np.select(
            [x['nivel'].notna() & x['nivel'].isin([0, 1, 2, 88, 99, 902]),
            x['nivel'].notna() & (x['nivel'] == 3),
            x['nivel'].notna() & x['nivel'].isin([4, 6]),
            x['nivel'].notna() & x['nivel'].isin([5, 7, 8]) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & x['nivel'].isin([5, 7, 8]) & (x['termino_nivel'] == 2),
            x['nivel'].notna() & (x['nivel'] == 9) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & (x['nivel'] == 9) & (x['termino_nivel'] == 2),
            x['nivel'].notna() & x['nivel'].isin([10, 11, 12]) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & x['nivel'].isin([10, 11, 12]) & (x['termino_nivel'] == 2)],
            [np.nan, 1, 2, 4, 3, 6, 5, 7, 6],
            default=np.nan
        ),

        grupoOcup_ciuo08_str=lambda x: x['b1'].map({
            1: 'Directores y gerentes',
            2: 'Profesionales científicos e intelectuales',
            3: 'Técnicos y profesionales de nivel medio',
            4: 'Personal de apoyo administrativo',
            5: 'Trabajadores de los servicios y vendedores de comercios y mercados',
            6: 'Agricultores y trabajadores calificados agropecuarios, forestales y pesqueros',
            7: 'Oficiales, operarios y artesanos de artes mecánicas y de otros oficios',
            8: 'Operadores de instalaciones y máquinas y ensambladores',
            9: 'Ocupaciones elementales',
            10: 'Otros no identificados',
        }),
        
        categoria_ocupacion_str=lambda x: x['categoria_ocupacion'].map({
            0: 'No corresponde',
            1: 'Empleador',
            2: 'Cuenta propia (independiente)',
            3: 'Asalariado sector privado',
            4: 'Asalariado sector público',
            5: 'Personal de servicio doméstico puertas afuera',
            6: 'Personal de servicio doméstico puertas adentro',
        }),
        
        ocup_form_str=lambda x: x['ocup_form'].map({
            1: 'Ocupado formal',
            2: 'Ocupado informal',
        }),
        
        proveedor_str=lambda x: x['proveedor'].map({
            0: 'No proveedor',
            1: 'Proveedor principal',
        }),
        
        parentesco_str=lambda x: x['parentesco'].map({
            1: 'Persona proveedora principal',
            2: 'Cónyuge',
            3: 'Conviviente',
            4: 'Hijo/a o hijastro/a',
            5: 'Yerno o nuera',
            6: 'Nieto/a',
        }),
        
        empresaPaga_ciiu4_str=lambda x: x['b13_rev4cl_caenes'].map(ciiu4),

        empresaTrabaja_ciiu4_str=lambda x: x['b14_rev4cl_caenes'].map(ciiu4),
        
        empresaDueno_ciiu4_str=lambda x: x['r_p_rev4cl_caenes'].map(ciiu4)
        )
        
    .rename(columns={'idrph': 'id_persona'}) # Renombrar columnas (en caso que corresponda)
    .drop_duplicates(subset=['id_persona']) # Eliminar duplicados en columnas (en caso que corresponda)
    .dropna(subset=['id_persona']) # Eliminar NaN de columnas (en caso que corresponda)
    .query('edad >= 18') # Mantener rango de columnas (en caso que corresponda)
)

In [9]:
datos_proc = datos_proc[['sexo', 
                         'sexo_str', 
                         'edad', 
                         'edad_tr', 
                         'sexo_edad', 
                         'region', 
                         'region_str', 
                         'educa',
                         'educa_str',
                         'habituales',
                         'efectivas',
                         'b1',
                         'grupoOcup_ciuo08_str',
                         'activ',
                         'categoria_ocupacion',
                         'categoria_ocupacion_str',
                         'ocup_form',
                         'ocup_form_str',
                         'proveedor', 
                         'proveedor_str', 
                         'parentesco',
                         'parentesco_str',
                         'empresaPaga_ciiu4_str',
                         'empresaTrabaja_ciiu4_str',
                         'empresaDueno_ciiu4_str'
                         ] + 
                        [col for col in datos_proc.columns if 'rev4cl' in col] +
                        [col for col in datos_proc.columns if col.startswith('c2_1')]]

datos_proc.rename(columns={
    'c2_1_1': 'hrs_diarias',
    'c2_1_2': 'dias_sem',
    'c2_1_3': 'hrs_sem',
    'b1': 'grupoOcup_ciuo08',
    'b13_rev4cl_caenes': 'empresaPaga_ciiu4',
    'b14_rev4cl_caenes': 'empresaTrabaja_ciiu4',
    'r_p_rev4cl_caenes': 'empresaDueno_ciiu4',
}, inplace=True)

In [10]:
# Revisión de variables I
print(datos_proc.shape, "\n\n")
print(datos_proc.columns, "\n\n")
print(datos_proc.dtypes, "\n\n")
print(datos_proc['sexo'].value_counts(), '\n\n')
print(datos_proc['edad_tr'].value_counts(), '\n\n')
print(datos_proc['sexo_edad'].value_counts(), '\n\n')
print(datos_proc['region'].value_counts(), '\n\n')
print(datos_proc['educa'].value_counts(), '\n\n')

(136031, 31)


Index(['sexo', 'sexo_str', 'edad', 'edad_tr', 'sexo_edad', 'region',
       'region_str', 'educa', 'educa_str', 'habituales', 'efectivas',
       'grupoOcup_ciuo08', 'grupoOcup_ciuo08_str', 'activ',
       'categoria_ocupacion', 'categoria_ocupacion_str', 'ocup_form',
       'ocup_form_str', 'proveedor', 'proveedor_str', 'parentesco',
       'parentesco_str', 'empresaPaga_ciiu4_str', 'empresaTrabaja_ciiu4_str',
       'empresaDueno_ciiu4_str', 'empresaPaga_ciiu4', 'empresaTrabaja_ciiu4',
       'empresaDueno_ciiu4', 'hrs_diarias', 'dias_sem', 'hrs_sem'],
      dtype='object')


sexo                          int64
sexo_str                     object
edad                          int64
edad_tr                      object
sexo_edad                    object
region                        int64
region_str                   object
educa                       float64
educa_str                    object
habituales                  float64
efectivas                   float64
grupoOcup_ciuo08            float64
grupoOcup_ciuo08_str         object
activ                       float64
categoria_ocupacion           int64
categoria_ocupacion_str      object
ocup_form                   float64
ocup_form_str                object
proveedor                     int64
proveedor_str                object
parentesco                    int64
parentesco_str               object
empresaPaga_ciiu4_str        object
empresaTrabaja_ciiu4_str     object
empresaDueno_ciiu4_str       object
empresaPaga_ciiu4           float64
empresaTrabaja_ciiu4        float64
empresaDueno_ciiu4          float64
hrs_diarias                 float64
dias_sem                    float64
hrs_sem                     float64
dtype: object


sexo
1    73377
0    62654
Name: count, dtype: int64


edad_tr
Adultos            55986
Jovenes            51403
Adultos mayores    28642
Name: count, dtype: int64


sexo_edad
Mujer adulta     30648
Mujer joven      26661
Hombre adulto    25338
Hombre joven     24742
Mujer mayor      16068
Hombre mayor     12574
Name: count, dtype: int64


region
13    26277
8     15708
5     15236
7     10089
10     9255
6      8334
4      8315
9      7165
16     6465
14     6164
2      4991
3      4782
15     4199
12     3246
1      2920
11     2885
Name: count, dtype: int64


educa
2.0    44603
1.0    32438
4.0    23143
6.0    16287
5.0     9636
3.0     4151
7.0     2072
Name: count, dtype: int64

In [11]:
# Revisión de variables II
print(datos_proc['grupoOcup_ciuo08_str'].value_counts().sort_index(), '\n\n')
print(datos_proc['empresaPaga_ciiu4_str'].value_counts().sort_index(), '\n\n')
print(datos_proc['empresaTrabaja_ciiu4_str'].value_counts().sort_index(), '\n\n')
print(datos_proc['empresaDueno_ciiu4_str'].value_counts().sort_index(), '\n\n')

grupoOcup_ciuo08_str
Agricultores y trabajadores calificados agropecuarios, forestales y pesqueros     2849
Directores y gerentes                                                             2364
Ocupaciones elementales                                                          15530
Oficiales, operarios y artesanos de artes mecánicas y de otros oficios            9683
Operadores de instalaciones y máquinas y ensambladores                            5885
Otros no identificados                                                             267
Personal de apoyo administrativo                                                  3313
Profesionales científicos e intelectuales                                         8831
Trabajadores de los servicios y vendedores de comercios y mercados               15335
Técnicos y profesionales de nivel medio                                           7990
Name: count, dtype: int64


empresaPaga_ciiu4_str
A Agricultura, ganadería, silvicultura y pesca                                                                                                        530
B Explotación de minas y canteras                                                                                                                     186
C Industrias manufactureras                                                                                                                           433
D Suministro de electricidad, gas, vapor y aire acondicionado                                                                                          15
E Suministro de agua; evacuación de aguas residuales, gestión de desechos y descontaminación                                                           88
F Construcción                                                                                                                                       1313
G Comercio al por mayor y al por menor; reparación de vehiculos automotores y motocicletas                                                            232
H Transporte y almacenamiento                                                                                                                         511
I Actividades de alojamiento y de servicio de comidas                                                                                                 476
J Información y comunicaciones                                                                                                                         67
K Actividades financieras y de seguros                                                                                                                 16
L Actividades inmobiliarias                                                                                                                            14
M Actividades profesionales, científicas y tecnicas                                                                                                   179
N Actividades de servicios administrativos y de apoyo                                                                                                2209
O Administración pública y defensa; planes de seguridad social de afiliación obligatoria                                                             2539
P Enseñanza                                                                                                                                            57
Q Actividades de atención de la salud humana y de asistencia social                                                                                   138
R Actividades artísticas, de entretenimiento y recreativas                                                                                              9
S Otras actividades de servicios                                                                                                                       90
T Actividades de los hogares como empleadores; actividades no diferenciadas de los hogares como productores de bienes y servicios para uso propio      33
Name: count, dtype: int64


empresaTrabaja_ciiu4_str
A Agricultura, ganadería, silvicultura y pesca                                                                                                        7421
B Explotación de minas y canteras                                                                                                                     2637
C Industrias manufactureras                                                                                                                           7025
D Suministro de electricidad, gas, vapor y aire acondicionado                                                                                          353
E Suministro de agua; evacuación de aguas residuales, gestión de desechos y descontaminación                                                           548
F Construcción                                                                                                                                        6307
G Comercio al por mayor y al por menor; reparación de vehiculos automotores y motocicletas                                                           13426
H Transporte y almacenamiento                                                                                                                         4163
I Actividades de alojamiento y de servicio de comidas                                                                                                 3244
J Información y comunicaciones                                                                                                                         974
K Actividades financieras y de seguros                                                                                                                 905
L Actividades inmobiliarias                                                                                                                            636
M Actividades profesionales, científicas y tecnicas                                                                                                   1959
N Actividades de servicios administrativos y de apoyo                                                                                                 1907
O Administración pública y defensa; planes de seguridad social de afiliación obligatoria                                                              4508
P Enseñanza                                                                                                                                           5960
Q Actividades de atención de la salud humana y de asistencia social                                                                                   4568
R Actividades artísticas, de entretenimiento y recreativas                                                                                             627
S Otras actividades de servicios                                                                                                                      2133
T Actividades de los hogares como empleadores; actividades no diferenciadas de los hogares como productores de bienes y servicios para uso propio     2631
U Actividades de organizaciones y órganos extraterritoriales                                                                                            10
Name: count, dtype: int64


empresaDueno_ciiu4_str
A Agricultura, ganadería, silvicultura y pesca                                                                                                        7370
B Explotación de minas y canteras                                                                                                                     1380
C Industrias manufactureras                                                                                                                           6783
D Suministro de electricidad, gas, vapor y aire acondicionado                                                                                          216
E Suministro de agua; evacuación de aguas residuales, gestión de desechos y descontaminación                                                           539
F Construcción                                                                                                                                        7099
G Comercio al por mayor y al por menor; reparación de vehiculos automotores y motocicletas                                                           12942
H Transporte y almacenamiento                                                                                                                         4376
I Actividades de alojamiento y de servicio de comidas                                                                                                 3674
J Información y comunicaciones                                                                                                                         887
K Actividades financieras y de seguros                                                                                                                 837
L Actividades inmobiliarias                                                                                                                            551
M Actividades profesionales, científicas y tecnicas                                                                                                   2093
N Actividades de servicios administrativos y de apoyo                                                                                                 3975
O Administración pública y defensa; planes de seguridad social de afiliación obligatoria                                                              6341
P Enseñanza                                                                                                                                           4127
Q Actividades de atención de la salud humana y de asistencia social                                                                                   3418
R Actividades artísticas, de entretenimiento y recreativas                                                                                             567
S Otras actividades de servicios                                                                                                                      2146
T Actividades de los hogares como empleadores; actividades no diferenciadas de los hogares como productores de bienes y servicios para uso propio     2619
U Actividades de organizaciones y órganos extraterritoriales                                                                                            10
Name: count, dtype: int64

In [12]:
# Guardar datos
datos_proc.to_csv("../../output/data/ENE2022_proc.csv", index=False)